<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717080713375-utthtaf154shhdrfki1vbiek4rid7b2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717080713375-utthtaf154shhdrfki1vbiek4rid7b2a</string>
	<key>API_KEY</key>
	<string>AIzaSyCy5U8YTs62Q9MKExkLwCIR4h1ksJJEEPI</string>
	<key>GCM_SENDER_ID</key>
	<string>717080713375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koreanhole.UOSCourseNotifier</string>
	<key>PROJECT_ID</key>
	<string>fbtest-39ac5</string>
	<key>STORAGE_BUCKET</key>
	<string>fbtest-39ac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717080713375:ios:dd7021755ffefa10cd6aaa</string>
	<key>DATABASE_URL</key>
	<string>https://fbtest-39ac5.firebaseio.com</string>
</dict>
</plist>